/* Este é o seu arquivo de estilos global */

/* Estilizando a barra de menu */
.p-menubar {
  background-color: #3b82f6!important; /* Cor de fundo roxo */
}


.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color:white!important;
  font-weight: bold; /* Fonte mais grossa */
  text-shadow: 0 0 10px grey, 0 0 20px grey, 0 0 30px #3b82f6, 0 0 40px #3b82f6, 0 0 50px #3b82f6, 0 0 60px #3b82f6, 0 0 70px #3b82f6; /* Efeito de neon */
  // text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6, 0 0 30px #3b82f6, 0 0 40px #3b82f6, 0 0 50px #3b82f6, 0 0 60px #3b82f6, 0 0 70px #3b82f6; /* Efeito de neon */

}
/* Estilos para telas pequenas e dispositivos móveis */
@media only screen and (max-width: 960px) {
  /* Estilizando a barra de menu */
  .p-menubar {
    background-color: #3b82f6!important; /* Cor de fundo preta */
    width:100vw!important;
    align-items: center!important;
    align-content: center!important;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: black!important;
    font-weight: bold; /* Fonte mais grossa */
    text-shadow: none; /* Remover o efeito de neon */
  }
}

